In [17]:
import pandas as pd

In [18]:
data = pd.read_csv('score_de_jamonosidad.csv',
                  usecols={'v1','v2','v3','score'})
data.head()

   score    v1    v2    v3
0     10  1985  59.7  2205
1     11  2855  55.0  2096
2     11  1737  65.6  1847
3     13  2905  61.4  1903
4     10  1666  66.1  1457

In [19]:
y = data.pop('score')

In [20]:
from sklearn import linear_model

In [21]:
clf = linear_model.SGDRegressor()
clf.fit(data,y)
clf.score(data,y)

/home/antonio/anaconda3/lib/python3.6/site-packages/sklearn/linear_model/stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.stochastic_gradient.SGDRegressor'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)

-3.9729493988130751e+31

In [22]:
objetivo = pd.read_csv('jamones_por_calificar.csv', usecols={'v1','v2','v3'})
objetivo.head()

     v1  v2    v3
0  2383  59  1857
1  1598  61  2696
2  2883  67  1865
3  2898  56  2822
4  2877  44  1553

In [23]:
objetivo['score'] = clf.predict(objetivo)
print(objetivo)

      v1  v2    v3         score
0   2383  59  1857  2.118476e+16
1   1598  61  2696  2.155450e+16
2   2883  67  1865  2.369679e+16
3   2898  56  2822  2.861559e+16
4   2877  44  1553  2.208472e+16
5   1966  55  2683  2.330639e+16
6   1786  66  2823  2.312709e+16
7   2813  63  2199  2.504171e+16
8   2882  52  2187  2.532067e+16
9   2859  49  1498  2.171784e+16
10  2334  64  1902  2.117106e+16

In [24]:
from sklearn.linear_model import LogisticRegression

In [25]:
reg = LogisticRegression()

In [26]:
reg.fit(data,y)
reg.score(data,y)

0.39285714285714285

In [27]:
objetivo = pd.read_csv('jamones_por_calificar.csv', usecols={'v1','v2','v3'})
objetivo.head()

     v1  v2    v3
0  2383  59  1857
1  1598  61  2696
2  2883  67  1865
3  2898  56  2822
4  2877  44  1553

In [28]:
objetivo['score'] = reg.predict(objetivo)
print(objetivo)

      v1  v2    v3  score
0   2383  59  1857     10
1   1598  61  2696      4
2   2883  67  1865     10
3   2898  56  2822      5
4   2877  44  1553     13
5   1966  55  2683      4
6   1786  66  2823      4
7   2813  63  2199     11
8   2882  52  2187     11
9   2859  49  1498     13
10  2334  64  1902     10